# example config file for misdnlogger
#
#  A section for a not detected controller is ignored
#
# global section, set default values for all controllers need to be placed before any controller section
[global]
	# log to syslog
	syslog true
	# logfile name - should be used only aternatively to syslog because same info get written twice
	# logfile /var/log/misdn.log
	enable # default all found controllers are enabled
	echo enable # enable use of echo channel if controller supports it
	# Layer1 activation/deactivation logging (enable or disable)
	Layer1 enable
	# Layer2 logging any combination of disable enable tei control sapi keepalive
	#    tei - TEI managment logged
	#    control - L2 establish/release logged
	#    sapi - other SAPI values (e.g. X.31 logged)
	#    keepalive - RR/RNR messages logged
	Layer2 enable
	# Layer3 loglevel defines values for each message type
	#    the loglevel value could be a combination of disable enable verbose hexdump
	#    message type all - for all messages (need be first)
	#    message type unknown - for unknown L3 message types (e.g. coding/transmit errors)
	#    enable - only the message type is logged
	#    verbose - all used infoelements of the message are logged
	#    hexdump - the complete L3 message is dumped in hex
	Layer3 all enable
	Layer3 unknown hexdump
	Layer3 Setup verbose
	Layer3 SetupAcknowledge verbose
	Layer3 Information verbose
	Layer3 Connect verbose
	Layer3 ConnectAcknowledge verbose
	Layer3 Disconnect verbose
	Layer3 Release verbose
	Layer3 Status verbose
[0] # short for controller 0
	#config for controller 0
	echo disable # disable use of ECHO channel
[controller 1] #config for controller 1
	Layer2 tei sapi control
	logfile /tmp/misdn.log
